import { StyleSheet } from 'react-native';

const styles = StyleSheet.create({
  background: {
    flex: 1,
    backgroundColor: 'white',
  },
  container: {
    width: '80%',
    justifyContent: 'center',
    alignSelf: 'center',
    marginTop: 90,
  },
  imgContainer: {
    alignItems: 'center',
  },
  correctImage: {
    width: 80,
    height: 80,
    marginBottom: 30,
  },
  title: {
    fontSize: 28,
    fontWeight: '500',
    color: '#1D1E1D',
    marginBottom: 15,
    fontFamily: 'Poppins_600SemiBold',
  },
  text: {
    fontSize: 16,
    color: '#6E6E6E',
    fontFamily: 'Poppins_400Regular',
    marginBottom: 25,
    textAlign: 'justify', 
    alignItems: 'center',
  },
  beginButton: {
    borderWidth: 1,
    borderColor: '#2196F3',
    backgroundColor: '#2196F3',
    width: '100%',
    marginTop: '10%',
    paddingVertical: 10,
    borderRadius: 25,
    elevation: 2,
    shadowColor: '#000',
    shadowOffset: { width: 0, height: 2 },
    shadowOpacity: 0.25,
    shadowRadius: 3,
  },
  beginButtonText: {
    color: '#FFF',
    fontSize: 16,
    textAlign: 'center',
    fontWeight: '600',
    padding: 1,
    fontFamily: 'Poppins_600SemiBold',
  },
});

export default styles;
